<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="infoForm">
    <ion-item>
      <ion-label position="floating">Player Name</ion-label>
      <ion-input type="text" formControlName="player_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Score</ion-label>
      <ion-input type="number" formControlName="player_score"></ion-input>
    </ion-item>
    <ion-button shape="round" color="secondary" expand="block" [disabled]="!infoForm.valid" 
    (click)="saveInfo()">Save</ion-button>
  </form>
</ion-content>

